/* You can add global styles to this file, and also import other style files */
body{
    background-color: cadetblue;
}
.form-container{
    width: 370px;
    margin: 25px  auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
}